.carousel{
    background-color: #333;
    height: 40rem;
    color: invert(#333);
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item{
    height: 38rem;
}
.carousel-inner :nth-child(2n).carousel-item{
    background-color: rgba(0, 0, 0, .2);
}
.t1{
    font-size: 60px;
}
.t2{
    font-size: 22px;
}
.t3{
    font-size: 15px;
}
.row{
    margin-bottom: 4em;
}